In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [2]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [3]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
student_data_df.loc[(student_data_df.school_name == 'Thomas High School') & (student_data_df.grade == '9th'), 'reading_score'] = np.NaN

In [4]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
student_data_df.loc[(student_data_df.school_name == 'Thomas High School') & (student_data_df.grade == '9th'), 'math_score'] = np.NaN

In [5]:
#  Step 4. Check the student data for NaN's. 

student_data_df.loc[(student_data_df['school_name'] == 'Thomas High School') & (student_data_df['grade'] == '9th'),['school_name','grade','reading_score','math_score']]

              school_name grade  reading_score  math_score
37537  Thomas High School   9th            NaN         NaN
37538  Thomas High School   9th            NaN         NaN
37539  Thomas High School   9th            NaN         NaN
37540  Thomas High School   9th            NaN         NaN
37543  Thomas High School   9th            NaN         NaN
...                   ...   ...            ...         ...
39152  Thomas High School   9th            NaN         NaN
39153  Thomas High School   9th            NaN         NaN
39157  Thomas High School   9th            NaN         NaN
39164  Thomas High School   9th            NaN         NaN
39167  Thomas High School   9th            NaN         NaN

[461 rows x 4 columns]

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [6]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,0,District,2917,1910635

In [10]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()

In [11]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [19]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 

thomas_high_school_count_9 = student_data_df.loc[(student_data_df['school_name'] == 'Thomas High School') & (student_data_df['grade'] == '9th'), 'student_name'].count()

# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()


# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.

new_total_student_count = student_count - thomas_high_school_count_9

In [20]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

In [22]:
# Step 3. Calculate the passing percentages with the new total student count.

passing_math_percentage = float(passing_math_count) / float(new_total_student_count) * 100
passing_reading_percentage = float(passing_reading_count) / float(new_total_student_count) * 100

In [23]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()


# Step 4.Calculate the overall passing percentage with new total student count.

overall_passing_percentage = float(overall_passing_math_reading_count)/float(new_total_student_count)*100

In [24]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.9,81.9,74.8,85.7,64.9

##  School Summary

In [25]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [26]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


# per_school_summary_df.head()

# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

In [33]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
ths_count = student_data_df.loc[student_data_df['school_name'] == 'Thomas High School','student_name'].count() - student_data_df.loc[(student_data_df['school_name'] == 'Thomas High School')&(student_data_df['grade'] == '9th'),'student_name'].count()

In [54]:
# Step 6. Get all the students passing math from THS

ths_passing_maths = school_data_complete_df[(school_data_complete_df["school_name"] == 'Thomas High School') & (school_data_complete_df["math_score"] >= 70)]

In [55]:
# Step 7. Get all the students passing reading from THS
ths_passing_reading = school_data_complete_df[(school_data_complete_df["school_name"] =='Thomas High School') & (school_data_complete_df["reading_score"] >= 70)]

In [56]:
# Step 8. Get all the students passing math and reading from THS

ths_passing_reading_maths = school_data_complete_df[(school_data_complete_df["school_name"] =='Thomas High School') & (school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

In [57]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 

ths_10_12_maths = school_data_complete_df[(school_data_complete_df["school_name"] =='Thomas High School')&(school_data_complete_df["grade"] != '9th') & (school_data_complete_df["math_score"] >= 70)].count()['student_name']
ths_10_12_maths_percentage = float(ths_10_12_maths)/float(ths_count)*100

In [58]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
ths_10_12_reading = school_data_complete_df[(school_data_complete_df["school_name"] =='Thomas High School')&(school_data_complete_df["grade"] != '9th') &(school_data_complete_df["reading_score"] >= 70)].count()['student_name']
ths_10_12_reading_percentage = float(ths_10_12_reading)/float(ths_count)*100

In [59]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 

ths_10_12_overall = school_data_complete_df[(school_data_complete_df["school_name"] =='Thomas High School') & (school_data_complete_df["grade"] != '9th') & (school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)].count()['student_name']
ths_10_12_overall_percentage = float(ths_10_12_overall ) / float(ths_count) * 100

In [60]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.

per_school_summary_df.loc['Thomas High School','% Passing Math'] = ths_10_12__percentage

In [61]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.

per_school_summary_df.loc['Thomas High School','% Passing Reading'] = ths_10_12_reading_percentage

In [27]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc['Thomas High School','% Overall Passing'] = ths_10_12_overall_percentage

In [62]:
# per_school_summary_df

## High and Low Performing Schools

In [29]:
# Sort and show top five schools.
per_school_summary_df.sort_values('% Overall Passing', ascending = False).head(5)

In [30]:
# Sort and show top five schools.
per_school_summary_df.sort_values('% Overall Passing', ascending = True).head(5)

## Math and Reading Scores by Grade

In [70]:
# Create a Series of scores by grade levels using conditionals.
ninth_grade = school_data_complete_df[(school_data_complete_df['grade'] == '9th')]
tenth_grade = school_data_complete_df[(school_data_complete_df['grade'] == '10th')]
eleventh_grade = school_data_complete_df[(school_data_complete_df['grade'] == '11th')]
twelfth_grade = school_data_complete_df[(school_data_complete_df['grade'] == '12th')]

# Group each school Series by the school name for the average math score.
per_school_ninth_math = ninth_grade.groupby('school_name').mean()['math_score']
per_school_tenth_math = tenth_grade.groupby('school_name').mean()['math_score']
per_school_eleventh_math = eleventh_grade.groupby('school_name').mean()['math_score']
per_school_twelfth_math = twelfth_grade.groupby('school_name').mean()['math_score']


# Group each school Series by the school name for the average reading score.

In [71]:
# Combine each Series for average math scores by school into single data frame.

average_math_scores_school = pd.DataFrame({'9th': per_school_ninth_math,
                                          '10th': per_school_tenth_math,
                                         '11th': per_school_eleventh_math,
                                         '12th' : per_school_twelfth_math})

In [72]:
# Combine each Series for average reading scores by school into single data frame.
average_math_scores_school = pd.DataFrame({'9th': per_school_ninth_math,
                                          '10th': per_school_tenth_math,
                                         '11th': per_school_eleventh_math,
                                         '12th' : per_school_twelfth_math})

# Combine each Series for average math scores by school into single data frame.
average_reading_scores_school = pd.DataFrame({'9th': per_school_ninth_reading,
                                          '10th': per_school_tenth_reading,
                                         '11th': per_school_eleventh_reading,
                                         '12th' : per_school_twelfth_reading})

In [73]:
# Format each grade column.
average_math_scores_school['9th'] = average_math_scores_school['9th'].map("{:,.1f}".format)
average_math_scores_school['10th'] = average_math_scores_school['10th'].map("{:,.1f}".format)
average_math_scores_school['11th'] = average_math_scores_school['11th'].map("{:,.1f}".format)
average_math_scores_school['12th'] = average_math_scores_school['12th'].map("{:,.1f}".format)

In [74]:
# Remove the index.
average_math_scores_school.index.name = None

# Display the data frame
average_math_scores_school

                        9th  10th  11th  12th
Bailey High School     77.1  77.0  77.5  76.5
Cabrera High School    83.1  83.2  82.8  83.3
Figueroa High School   76.4  76.5  76.9  77.2
Ford High School       77.4  77.7  76.9  76.2
Griffin High School    82.0  84.2  83.8  83.4
Hernandez High School  77.4  77.3  77.1  77.2
Holden High School     83.8  83.4  85.0  82.9
Huang High School      77.0  75.9  76.4  77.2
Johnson High School    77.2  76.7  77.5  76.9
Pena High School       83.6  83.4  84.3  84.1
Rodriguez High School  76.9  76.6  76.4  77.7
Shelton High School    83.4  82.9  83.4  83.8
Thomas High School      nan  83.1  83.5  83.5
Wilson High School     83.1  83.7  83.2  83.0
Wright High School     83.3  84.0  83.8  83.6

In [36]:
# Format each grade column.
average_reading_scores_school['9th'] = average_reading_scores_school['9th'].map("{:,.1f}".format)
average_reading_scores_school['10th'] = average_reading_scores_school['10th'].map("{:,.1f}".format)
average_reading_scores_school['11th'] = average_reading_scores_school['11th'].map("{:,.1f}".format)
average_reading_scores_school['12th'] = average_reading_scores_school['12th'].map("{:,.1f}".format)


## Remove the index.
average_reading_scores_school.index.name = None

# Display the data frame
average_reading_scores_school

## Scores by School Spending

In [37]:
# Establish the spending bins and group names.

spending_bins = [0,585,630,645,675]
spending_labels = ['<$584','$585-629','$630-644','$645-675']

# Categorize spending based on the bins.
per_school_summary_df['Spending Ranges (Per Student)'] = pd.cut(per_school_capita,spending_bins,labels = spending_labels)

In [38]:
# Calculate averages for the desired columns. 

spending_math_scores = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['Average Math Score']
spending_reading_scores = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['Average Reading Score']
spending_passing_math = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['% Passing Math']
spending_passing_reading = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['% Passing Reading']
overall_passing_spending = per_school_summary_df.groupby(['Spending Ranges (Per Student)']).mean()['% Overall Passing']

In [39]:
# Create the DataFrame

spending_summary_df = pd.DataFrame({'Average Math Score': spending_math_scores,
                                   'Average Reading Score': spending_reading_scores,
                                   '% Passing Maths': spending_passing_math,
                                   '% Passing Reading': spending_passing_reading,
                                   '% Overall Passing': overall_passing_spending})

In [40]:
# Format the DataFrame 

spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)
spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)
spending_summary_df["% Passing Maths"] = spending_summary_df["% Passing Maths"].map("{:.0f}".format)
spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)
spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map('{:,.1f}'.format)
spending_summary_df.index.name =None        
spending_summary_df

## Scores by School Size

In [78]:
# Establish the bins.

size_bins = [0,1800,3000,5000]
size_labels = ['Small (<1800)','Medium (1800-3000)','Large (3000-5000)']

# Categorize spending based on the bins.
per_school_summary_df['School_Size'] = pd.cut(per_school_counts,size_bins, labels = size_labels)

In [76]:
# Calculate averages for the desired columns. 
size_math_score = per_school_summary_df.groupby(per_school_summary_df['School_Size']).mean()['Average Math Score']
size_reading_score = per_school_summary_df.groupby(per_school_summary_df['School_Size']).mean()['Average Reading Score']
size_passing_math = per_school_summary_df.groupby(per_school_summary_df['School_Size']).mean()['% Passing Math']
size_passing_reading = per_school_summary_df.groupby(per_school_summary_df['School_Size']).mean()['% Passing Reading']
size_passing_overall = per_school_summary_df.groupby(per_school_summary_df['School_Size']).mean()['% Overall Passing']

In [80]:
# Assemble into DataFrame. 
school_size_summary = pd.DataFrame({'Average Math Score':size_math_score,
                                    "Average Reading Score": size_reading_score,
                                    "% Passing Math": size_passing_math, 
                                    "% Passing Reading": size_passing_reading,
                                    "% Overall Passing": size_passing_overall})
school_size_summary.index.name = None

NameError: name 'size_math_score' is not defined

In [44]:
# Format the DataFrame

## Scores by School Type

In [45]:
# Calculate averages for the desired columns.

In [46]:
# Assemble into DataFrame.

In [47]:
# # Format the DataFrame